/* CSS is mostly unnecessary here. SVGs are created in illustrator and 
animations are handled with gsap. Interactive elements show a pointer cursor
and different levels are hidden by default until their navigational menhir is clicked. */

.click {
  cursor: pointer;
}

.chapter {
  display: none;
  opacity: 0;
}

.nav:hover {
  text-decoration: underline;
  cursor: pointer;
}